<div class="wrapper wrapper-content project-manager">
    <h4>Scholarships description</h4>
    <!--<img src="img/zender_logo.png" class="img-responsive">-->
    <p class="small">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look
        even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
        anything embarrassing
    </p>

    <!--<p class="small font-bold">-->
        <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
    <!--</p>-->
    <!--<h5>Project tag</h5>-->
    <!--<ul class="tag-list" style="padding: 0">-->
        <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
        <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
        <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
        <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
    <!--</ul>-->
    <!--<h5>Project files</h5>-->
    <!--<ul class="list-unstyled project-files">-->
        <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
        <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
        <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
        <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
    <!--</ul>-->
    <div class="text-center m-t-md">
        <!--<a href="#" class="btn btn-xs btn-primary">Add files</a>-->
        <a href="#" class="btn btn-xs btn-primary">Report contact</a>
    </div>
</div>
