.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

node_modules
bower_modules
dist

!uploads/.gitkeep
uploads/avatar/*
!uploads/avatar/.gitkeep
uploads/scholarships/*
!uploads/scholarships/.gitkeep
uploads/temp/*
!uploads/temp/.gitkeep

js/templates/*
js/app.*.js

/deployment/mysql/dump.sql
