<div class="text-intro m-b-md"></div>
{{#unless registered}}
    {{#if valid}}
        <div class="card-deck card-intro m-b-md">
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">队长</h3>
                    <p class="card-text">如果你是队长，请在此注册队伍。</p>
                    <div class="card-footer">
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-expand"
                           aria-expanded="false">开始注册</a>
                    </div>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-block">
                    <h3 class="card-title">队员</h3>
                    <p class="card-text">如果你是队员，请扫描队长提供的二维码进行认证，且每人只能参加一支队伍。误注册为队长的队员必须先取消注册再加入其他队伍。</p>
                </div>
            </div>
        </div>
    {{else}}
        <div class="card text-center">
            <div class="card-block">
                <h3>对不起，报名已结束</h3>
            </div>
        </div>
    {{/if}}
{{/unless}}