<div class="row">
    {{#each this}}
        <div class="{{grid}}">
            {{#if template}}
                {{> (lookup . 'template') data}}
            {{else if html}}
                {{{html}}}
            {{/if}}
        </div>
    {{/each}}
</div>