<script id="degree-template" type="text/x-handlebars-template">

    <table class="table">
        {{#each this}}
            <thead>
            <tr>
                <th colspan="4">{{#with title}}{{this}}{{/with}}</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>@4</td>
            </tr>
            </tbody>

        {{/each}}</table>

</script>